@charset "utf-8";
/* CSS Document */
body {
	padding: 0;
	margin: 0;	
}
a, ul, li {
	padding: 0;
	text-decoration: none;
}





/*1920px*/
.box {
}
.topbox {
	width: 100%;
	overflow: hidden;
	height: 100%;
	background: url(../images/topbg.gif) no-repeat;	
	background-size:cover;
	background-position: center;
}
.top {
	width: 1000px;
	margin: 0 auto;
	padding: 48px 0;
	/*position: relative;*/
}
.logo {
	float: left;
}
.nav {
	float: right;
	line-height: 48px;
}
.nav > a {
	color: #fff;
	font-size: 16px;
	margin: 0 8px;
}
.banner {
	/*background: url(../images/map.png) no-repeat right center;*/
	height: 400px;
	padding-top: 80px;
	margin-top: 40px;
}
.banner > h3 {
	color: #fff;
	font-weight: normal;
	font-size: 34px;
}
.banner-btn {
	margin-top: 60px;
	 font-size: 14px;
}
.banner-btn > a {
	width: 146px;
	height: 40px;
	background: url(../images/arrowright.png) no-repeat 120px center #0b0b6f;
	border: 1px #22277c solid;
	color: #fff;
	box-shadow: 2px 2px 5px #080856;
	float: left;
	line-height: 40px;
	padding-left: 10px;
	margin-right: 20px;
	border-radius: 2px;
}
.beta {	
	clear: both;
	height: auto;
	padding-top: 26px;
}
.beta1 {clear: both;
	height: auto;
	padding-top: 26px;}

.beta > a{width: 170px;
    height: 40px;
    background: url(../images/betabg.png) no-repeat;
    display: block;
    color: #fff;
    line-height: 40px;
    padding-left: 20px;
    font-size: 14px;
    box-shadow: 2px 2px 5px #080856;}

.beta1 > a {
	width: 276px;	
	box-shadow: 2px 2px 5px #080856;
}



/*第二部分*/
.TCbox{     
	width: 938px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 150px;
    box-shadow: 0px 0px 27px 0px rgba(221, 211, 244, 0.8);
    height: 450px;
    background-color: white;
    margin-top: 25px;
    color: #0b0b6f;
    font-weight: 550;
}



.TCtitile{
	width: 100%;
	padding-top: 40px;
	margin-left: -25px;
	font-size: 36px;
}

.titleft{
	padding-right: 89px;

}

.titright{
	padding-left: 121px;

}

.tcContent{
	margin-top:35px;
	height: 75px;
}

.tcimgl{
	float: left;
    margin-left: 100px;
}

.tctextl{
	float: left;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
	text-align: left;
}

.tcimgr{
	margin-right: 290px;
    float: right;
}

.tctextr{
	float: right;
    padding-top: 10px;
    text-align: left;
}


.Vline{
	border-right: 2px solid #d8c8e1;
    width: 4px;
    height: 375px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    float: left;
    margin-top: -375px;
    margin-left: 469px;
	
}






/*What is our solution?*/
.solution{ height: 764px; background: url(../images/bg.png) no-repeat top center; padding-top: 90px; position: relative; bottom: 150px;}
.sol{ width: 1000px; margin: 0 auto;  color: #0b0b6f;}
.sol > h3{ text-align: center; font-size: 36px; font-weight: normal;}
.sol > p{ text-align: center; margin-top: 50px; font-size: 21px;}
.titleline{ width: 80px; height: 4px; background: #43deee; margin: 0 auto;}

.solist{ list-style: none; width: 950px; margin: 0 auto; padding-left: 50px;}
.solist li{text-align: left; width: 25%; float: left;}
.solist li p{ font-size: 15px; font-weight: 550; color: #0b0b6f;}
.soline{width: 80px; height: 4px; background: linear-gradient(to right, #611f86 , #3f42a2); border-radius:2px; margin: 15px 0 20px;}

.slotxt{ clear: both; list-style: none; padding-top: 20px;}
.slotxt li{ width:245px; height: 218px; background: linear-gradient(to top, #7e4a9e , #6469b6); float: left; color: #fff; padding: 20px 20px;box-shadow: 2px 2px 8px #f5f1ff; border-radius: 2px;}
.slotxt li p{ line-height: 23px;font-size: 15px;}

.tm{ width: 1000px; margin: 0 auto; text-align: center;}
.cel{width: 1000px; margin: 0 auto; text-align: center;}
.celtexta{
	width: 230px;
    height: 230px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#8050a0), to(#686eb7));
    margin-left: 5%;
    margin-top: 25px;
    float: left;
    color: white;
    padding-top: 20px;
    font-weight: 550;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.celtexta span{
	font-size: 18px;
}
.celtexta label{
	font-size: 14px;
	font-weight: 500;
}

/*NetCentric Robot Factory*/
.Robotbox{background: bottom center;background: url(../images/bg.png) no-repeat bottom center; height: 1650px; position: relative; bottom: 150px;}
.robot{ width: 1000px; margin: 0 auto; color: #0b0b6f; padding-top: 50px;}
.robot > h3{text-align: center; font-size: 36px; font-weight: normal;}
.robot > p{ clear: both;text-align: center; margin-top: 80px; font-size: 21px;}

.factory{ width: 800px; margin: 0 auto; padding-top: 20px;}
.facl{ width: 35%; float: left;}
.facr{ width: 55%; line-height: 25px; float: left;}
.facr h3{ font-size:21px; font-weight: normal;}
.robotlist{ list-style: none;}
.robotlist li{ float: left;  text-align: center; width: 25%;}
.robotlist li img{  width: 200px; height: 200px;}


.net1{ width: 800px; margin: 0 auto; clear: both;}
.net1 > div{ float: left;}
.netxt{ width: 40%; background: #fff;box-shadow: 2px 2px 8px #f5f1ff; padding: 15px; line-height: 23px; margin-top: 60px; font-size: 15px;}
.netpic{  width: 40%;}
.netc{width: 1000px; margin: 0 auto; text-align: center; }

.netcLine1{
	width: 100%;
	height: 260px;
	font-weight: 550;
}
.netcTextl{
	width: 313px;
    height: 125px;
    background-color: white;
    box-shadow: 0px 0px 27px 0px rgba(221, 211, 244, 0.8);
    margin-left: 9.5%;
    font-size: 16px;
    color: #2e2d7b;
    text-align: left;
    padding-top: 15px;
    padding-left: 32px;
    padding-right: 25px;
    float: left;
    margin-top: 100px;
}

.cn-netcTextl{
	width: 313px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 27px 0px rgba(221, 211, 244, 0.8);
    margin-left: 9.5%;
    font-size: 16px;
    color: #2e2d7b;
    text-align: left;
    padding-top: 35px;
    padding-left: 32px;
    padding-right: 32px;
    float: left;
    margin-top: 100px;
}

.netcTextr{
	width: 313px;
    height: 125px;
    background-color: white;
    box-shadow: 0px 0px 27px 0px rgba(221, 211, 244, 0.8);
    margin-left: 2%;
    margin-right: 10%;
    font-size: 16px;
    color: #2e2d7b;
    text-align: left;
    padding-top: 15px;
    padding-left: 32px;
    padding-right: 25px;
    float: right;
    margin-top: 100px;
}

.cn-netcTextr{
    width: 313px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 27px 0px rgba(221, 211, 244, 0.8);
    margin-left: 2%;
    margin-right: 10%;
    font-size: 16px;
    color: #2e2d7b;
    text-align: left;
    padding-top: 35px;
    padding-left: 32px;
    padding-right: 32px;
    float: right;
    margin-top: 100px;
}

/*Team Members*/
.team{ width: 1000px; margin: 0 auto; clear: both; padding-top: 50px; position: relative; bottom:76px;}
.team > h3{text-align: center; font-size: 36px; font-weight: normal; color: #0b0b6f;}
.team > p{clear: both;text-align: center; margin: 5px 0; font-size: 21px; padding: 50px 10px 0 0;font-weight: bold; color: #0b0b6f;}
.Team1{ list-style:none;}
.Team1 li{ text-align: center; float: left; height: 214px; padding-top: 19px;}
.Team1 li h4{ margin:0; color: #27aefa; position: relative;bottom:10px;}
.Team1 li span{ color:#869cce;position: relative;bottom:8px; font-size: 12px;}
.Team1 li .uhead{ width: 90px; height: 90px; border-radius: 100px; box-shadow: 6px 6px 40px 0px rgba(183, 204, 227, 1); margin: 18px 0;}
.Team1 li .teaminfo{ background: #fff; box-shadow: 0px 0px 27px 0px rgba(221, 211, 244, 0.8); width:230px; height: 176px; margin: 0px auto;}
.Team1 li.swiper-slide-active {padding-top: 0;}
.Team1 li.swiper-slide-active .teaminfo{ width: 280px; height: 214px;}
.Team1 li.swiper-slide-active .teaminfo .uhead{width: 116px; height: 116px; margin: 20px 0;}

/*滑动插件重置*/
.swiper-container{ box-sizing: border-box!important; padding: 0px 10px 30px 10px!important;}
.new-spage{bottom: 0px!important;}
.new-spage .swiper-pagination-bullet{ width: 10px; height: 10px; border: 3px solid #fff; background: #562a8e;}
.new-spage .swiper-pagination-bullet-active{ border-color: #cac0de;}

/*切换*/
.tab{ width: 100px; margin: 0 auto; clear: both; text-align: center;}
.tab > a{ float: left; margin: 0 5px;}
.tab > a img{ vertical-align: middle;}

/*底部*/
.footbox{ height:200px; background: url(../images/bottombg.png) no-repeat; clear: both; padding-top: 70px;}
.foot{ width:1000px; margin: 0 auto;}
.footl{ float: left; padding-top: 70px;}
.footr{ float:right;}
.footr a { float: left;margin: 0 24px 20px;}

.arrow1l{
	left: -20px;
    margin-top: -250px;
}

.arrow1r{
	margin-top: -250px;
    right: -20px;
}

.arrow2l{
	left: -20px;
    margin-top: 285px;
}

.arrow2r{
	margin-top: 285px;
    right: -20px;
}

/*团队信息*/
.Team1 > li div.teamtext {
	line-height: 15px;
	font-size: 12px;
	position: absolute;
	border-radius: 2px;
    background: #fff;
	opacity: 0.8;
	color: #602086;	
	padding:15px;
	top:0;
	z-index: 1;	
	overflow: auto;
	text-align: left;
	 width: 80%;
	height:auto;
	}
.teamtext-active{
	line-height: 15px;
    font-size: 12px;
    position: absolute;
    border-radius: 2px;
    opacity: 0.8;
    color: #602086;
    padding: 15px;
    padding-left: 25px;
    top: 120px;
    overflow: auto;
    text-align: left;
    width: 80%;
    height: auto;
}
.teamtext span {
	font-size: 10px;
	text-align:left;
	color: #fff;
}


.teamin{ width: 16px; height: 16px;}
.teamin img{ vertical-align: middle; margin-right:3px;}

/*投资者*/
.Investors{ width: 1000px; margin: 0 auto; clear: both;}
.Investors > ul{}
.Investors > ul li{ width: 224px; height:178px; background: url(../images/Investors.png) no-repeat; display: block; float: left; margin: 0 10px;}
.Investors > p{clear: both;text-align: center; margin: 20px 0; font-size: 21px; padding: 30px 10px 0 0; font-weight: bold; color: #0b0b6f;}

/*1024*/
@media screen and (max-width: 1024px){
	.top {
	width: 900px;
	margin: 0 auto;
	padding: 48px 0;
	/*position: relative;*/
}
	.banner > h3 {
	color: #fff;
	font-weight: normal;
	font-size: 30px;
}
.solist{ list-style: none; width: 900px; margin: 0 auto;}
.solist li{text-align: left; width: 25%; float: left;}
.solist li p{ font-size: 15px; font-weight: 550; color: #0b0b6f;}
.soline{width: 80px; height: 4px; background: linear-gradient(to right, #611f86 , #3f42a2); border-radius:2px; margin: 15px 0 20px;}
.foot{ width:900px; margin: 0 auto;}

}


/*768*/
@media screen and (max-width: 768px){
	.top {
	width: 800px;
	margin: 0 auto;
	padding: 48px 0;
	/*position: relative;*/
}
	.banner > h3 {
	color: #fff;
	font-weight: normal;
	font-size: 24px;
}
	
}

/*414*/
@media screen and (max-width: 414px){
	.nav > a {
	color: #fff;
	font-size: 16px;
	margin: 0 4px;
}
}

/*新添加*/
.Team1 li{list-style:none;}

.Th{ 
	width: 1000px; 
	margin: 0 auto;
	position: relative;
	bottom: 110px; 
	height: 373px; 
	margin-bottom: 50px;
	color: #0b0b6f;
    font-weight: 550;
}


.thTitlel{
	font-size: 24px;
    font-weight: bold;
    float: left;
    margin-left: 15%;
    margin-top: 20px;
}
.thContentl{
    font-size: 16px;
    float: left;
    margin-left: -25%;
    margin-top: 38px;
}

.thTitler{
	font-size: 24px;
    font-weight: bold;
    float: right;
    margin-right: 16%;
}
.thContentr{
    font-size: 16px;
    float: right;
    margin-right: -27%;
    margin-top: 18px;
}




.cn-thTitlel{
	font-size: 24px;
    font-weight: bold;
    float: left;
    margin-left: 21%;
    margin-top: 20px;
}
.cn-thContentl{
    font-size: 16px;
    float: left;
    margin-left: -20%;
    margin-top: 38px;
}

.cn-thTitler{
	font-size: 24px;
    font-weight: bold;
    float: right;
    margin-right: 24%;
}
.cn-thContentr{
    font-size: 16px;
    float: right;
    margin-right: -24%;
    margin-top: 18px;
}



.thImg{
	width: 100%;
	height: 225px;
}

.thText{
	height: 250px;
    width: 100%;
}

.circularl{
	height: 150px;
    width: 150px;
    box-shadow: 0px 0px 27px 0px rgba(221, 211, 244, 0.8);
    border-radius: 100px;
    margin-left: 18%;
    float: left;
    margin-top: 50px;
    text-align:center;
}
.circularr{
	height: 150px;
    width: 150px;
    box-shadow: 0px 0px 27px 0px rgba(221, 211, 244, 0.8);
    border-radius: 100px;
    margin-left: 32%;
    float: left;
    margin-top: 50px;
    text-align:center;
}
.imginc{
	margin-top: 25px;
}


















